@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.proyects-div{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    background: rgb(32, 24, 43);
        background: linear-gradient(90deg, rgba(32, 24, 43, 1) 22%, rgba(79, 53, 157, 1) 63%, rgba(112, 122, 230, 1) 89%);
    height: 1500px;
    font-family: "Poppins";
}
.text-proyects{
    margin-top: 35px;
    font-size: 31px;
    font-weight: bold;
    font-family: "Poppins";
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}
.div-proyect{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}
.div-proyect-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}
.proyect-img{
    width: 60%;
    margin: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.div-proyect-name{
    width: 40%;
}

.btn-proyect{
    text-transform: uppercase;
        letter-spacing: 2px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    background: black;
    line-height: 1.15;

}
.btn-proyect:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #707AE6;
}

.btn-vermas{
    text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Poppins";
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 700;
    background: #fff;
    padding: 0 8px;
    font-size: 13px;
    border-radius: 4px;
    color: black;
    height: 28px;
    min-width: 56px;
    transition: all 80ms linear;
}
.btn-vermas:hover {
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 50%);
    background: rgba(248, 248, 248, 1);
}

.div-proyect-name h3{
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    font-weight: bold;
    font-size: 30px;
}

.div-proyect-name p {
    color: white;
}