@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.proyects-div{
    height: 500px;
    margin-top: 100px;
    background-color: #150050;
}
.text-proyects{
    font-weight: bold;
    font-family: "Poppins";
    color: white;
}
