.btn-carousel {
    font-family: "Poppins";
    font-size: 40px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 0px 10px;
}

.btn-carousel:hover {
    color: #044396;
}

.proyect-img-modal {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 6px 2px 16px 0px rgba(0, 0, 0, 0.48), -6px -2px 16px 0px rgba(0, 0, 0, 0.8);
    border: 1px solid white;
}