@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.aboutMe-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #352658;
    height: 700px;
    font-family: "Poppins";
}

.aboutMe-card{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 50%;
    margin-left: 25%;
    background: linear-gradient(to left, white 50%, #FB2576 50%);
    height: 80%;
}   

.photo{
    width: 350px;
    height: 350px;
    border-radius: 999px;
    box-shadow: 0px 0px 5px black;
    margin-top: 15px;
}

.left-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;  
}

.right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button1{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    outline: 0;
    border: 2px solid white;
    cursor: pointer; 
    border-radius: 15px;
    background-color: #20182B;
    color: white;
    font-weight: 400;
    font-weight: bold;
    transition: background 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;
    padding: 15px;   
}
.button1:hover {
    color: #000000;
    background: #FB2576;
    border: 2px solid #20182B;
    font-weight: bold;
}
.a-download{
   width: 25%;
   margin-left: 37.5%;
}

hr{
    width: 15%;
    height: 2px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.button2 {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #3F0071;
    outline: 0;
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    color: #000000;
    font-weight: 400;
    transition: background 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;
    padding: 8px;
    font-weight: bold;
}

.color-about{
    color: white;
    text-shadow: 0px 0px 3px black;
}

.tecnologias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    height: 50px;
    width: 100%;
}

.button2:hover {
    background: #3F0071;
    color: white;
}

.aboutMe-subDiv-1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}
.aboutMe-subDiv-2 {
    width: 50%;
}
.aboutMe-subDiv-1 p {
    width: 50%;
    margin-left: 25%;
}